[submodule "nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-coffee-script"]
	path = pack/plugins/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "base16-vim"]
	path = pack/plugins/start/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "xcode-low-key-vim"]
	path = pack/plugins/start/xcode-low-key-vim
	url = https://github.com/dgraham/xcode-low-key-vim.git
[submodule "vim-toml"]
	path = pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "ctrlp-py-matcher"]
	path = pack/plugins/start/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher
[submodule "vim-mustache"]
	path = pack/plugins/start/vim-mustache
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim-racer"]
	path = pack/plugins/start/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "vim-rhubarb"]
	path = pack/plugins/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-prettier"]
	path = pack/plugins/start/vim-prettier
	url = https://github.com/mitermayer/vim-prettier.git
[submodule "vim-flow"]
	path = pack/plugins/start/vim-flow
	url = https://github.com/flowtype/vim-flow
[submodule "vim-eslint"]
	path = pack/plugins/start/vim-eslint
	url = https://github.com/dgraham/vim-eslint
[submodule "vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
